*.csproj
*.pidb
*.pyc
*.pyc.meta
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.swp
*.trace
*.unityproj
*.user
*.userprefs
.DS_Store
ArtifactReport.xml
Builds
[Cc]overageResults.txt
[Ll]ibrary
./[Oo]bj
[Oo]bj
SublimeProject.asset*
[Tt]emp
UnitTestResults.xml
!Util/KampaiRules/*.sln
!Util/KampaiRules/*.csproj
*.mayaSwatches/
*.fbm
*.fbm.meta
*.fbm/*
.consulo
Util/ExtractStrangeTypes/bin/Debug/
Assets/VSCodeTools/VSCodeSettings.asset*
.vscode/
Util/KampaiRules/bin